* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
p {
  padding: 80px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 300px 1fr;
}

header {
  background-color: rgb(223, 108, 0);
  /* height: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  grid-column: 1/3;
}

.icone {
  width: 30px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.icone-e-texto {
  display: flex;
  align-items: center;
}

nav {
  background-color: #f2d0e0;
  padding: 12px;
}

.botao-nav {
  display: flex;
  justify-content: space-between;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  /* column-gap: ;
  row-gap: ; */
  padding: 16px;
}

.card-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 5px darkgray;
}
.imagem-card {
  width: 100%;
}

footer {
  background-color: rgb(53, 50, 63);
  /* height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}
